body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 0 16px;
}
